<!doctype html>
<html lang="{{ site.Language.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex">
  <meta http-equiv="refresh" content="0;url=https://pnp.github.io/">
  <link rel="canonical" href="https://pnp.github.io/">
  <title>Redirecting to https://pnp.github.io/</title>
</head>
<body style='font-family: "Segoe UI", "Segoe Sans", sans-serif;'>
  <p><a href="https://pnp.github.io/">Continue</a></p>
  <script>
    window.location.replace("https://pnp.github.io/");
  </script>
</body>
</html>
